# Environnements Virtuels
venv/
venv_ml/
venv_demo/
.venv/
env/

# Caches et Logs
__pycache__/
*.pyc
*.log

# Données Massives (TREC, Modèles ML)
data/
*.tar.gz
*.csv

# Secrets
.env
.env.local
*.tar
*.zip
TREC_AP_88-90_complet*
