
# Python packaging
dist/
build/
*.egg-info/
.eggs/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Virtual environments
venv/
env/
ENV/
test_env/

# LaTeX
*.aux
*.bbl
*.blg
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.fdb_latexmk
*.pdf

# System
.DS_Store

# IDE
.vscode/

# Project specific
*.zip
*.log
# Credentials and Keys
*.key
*.txt
.env
cle*

venv_demo/
test_from_pypi/
*.pyc
__pycache__/
*.db

venv_ml/
venv/
data/trec/
